/* fixed file */

@font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype");
}
::selection {
	background: #496F85;
	color: rgb(244, 244, 244);
}
::-moz-selection {
	background: #496F85;
	color: rgb(244, 244, 244);
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
    background-image: linear-gradient(0deg, #CFD9DF 0%, #E2EBF0 100%);
}

.maxWidth{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Sans TC' !important;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

h3{
    margin-top: 40px;
}

p{
    font-weight: 300;
    text-align: center;
}

p .biggerText{
    /* font-style: italic; */
    font-size: 1.1rem;
    font-weight: 500;
    /* text-align: center; */
    line-height: 2.4em;
    color: hsl(0, 0%, 20%);
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

/* ------------intro------------ */
#sayHello span{
    font-family: inherit;
}

.intro{
    width: 100%;
    height: 70vh;
}

.intro h1{
    font-family: inherit!important;
    font-size: 46px;
    font-weight: 900;
    text-shadow: 0px 2px 14px rgba(60, 60, 60, .2);
}

.intro h1 span{
    font-family: inherit!important;
    font-size: 32px;
    font-weight: 500;
    color: #292B2C;
    text-shadow: 0px 2px 14px rgba(60, 60, 60, .3);
    margin: 0 8px;
    letter-spacing: 0.1rem;
}
@media screen and (max-width: 575.98px) {
    .intro h1{
        font-size: 24px;
    }

    .intro h1 span{
        margin: 0 3px;
        font-size: 20px;
    }
}

.intro h4{
    font-family: inherit!important;
    font-weight: 600;
    color: #404345;
    margin-top: 24px;
    margin-bottom: 24px;
    letter-spacing: .02rem;
}

.intro h4 span{
    font-family: inherit!important;
    font-weight: 600;
    color: #404345;
    letter-spacing: .02rem;
    margin: 0 4px;
}

@media screen and (max-width: 575.98px) {
    .intro h4{
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-bottom: 12px;
    }
    .intro h4 span{
        font-size: 1.3rem;
    }

}

/* ---------------intro button start---------------- */
.btn-explore, 
.btn-explore:hover, 
.btn-explore:visited, 
.btn-explore:focus {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-flip3d-vertical2 .flipper-flip3d-vertical2 {
    transform-origin: 100% 28px;
}

.button-flip3d-vertical2 .front {
    transform: translateZ(28px);
    background: #496F85;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    height: 56px;
    color: #fff;
}

.button-flip3d-vertical2 .back {
    -webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(28px);
    -ms-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(28px);
    transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(28px);
    background: #40657B;
    text-align: center;
    height: 56px;
}

.button-flip3d-vertical2:hover .flipper-flip3d-vertical2 {
    transform: rotateX(90deg);
}

.button-container {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    height: 56px;
    width: 248px;
    -webkit-perspective: 700;
    -ms-perspective: 700;
    perspective: 700;
}

@media screen and (max-width: 575.98px) {
    .button-container {
        width: 80%;
    }
}

.button-container .flipper {
    transition: all 0.3s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.button-container .button {
    width: 248px;
    height: 56px;
    border-radius: 3px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 12px 24px -5px rgba(60, 60, 60, 0.2);
    box-shadow: 0px 12px 24px -5px rgba(60, 60, 60, 0.2);
}

@media screen and (max-width: 575.98px) {
    .button-container .button {
        width: 100%;
        box-shadow: 0px 12px 24px -5px rgba(60, 60, 60, 0.3);
    }
}

.button-container .button.front {
    z-index: 10;
}

.button-container .button.back {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.button a, .button a:hover {
    color: #ffffff;
}

/* ---------------intro button end---------------- */

.portfolioList li{
    padding: 15px;
    background-color: rgba(256,256,256,.2);
}

.portfolioList li p{
    text-align: left;
}

button {
    color: #777;
    background: #fff;
    padding: 4px 12px 4px 12px;
    border: solid #777 2px;
    transition: all 0.3s ease-in-out;    
    text-decoration: none;
}

button:hover {
    color: #000;
    border: solid #000 2px;
    text-decoration: none;
}

input,
textarea {
    font-size: 0.8rem;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.5rem 0.7rem;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 100%;
}

input:focus,
textarea:focus {
    border-color: #777;
    outline: none;
}

@media screen and (max-width: 575.98px) {
    .portfolioSidebar{
        height: 0;        
    }
}

.portfolioSidebar-relative{
    position: relative;
}

.portfolioSidebar-sticky{
    min-width: 210px;
    position: fixed;
    top: 4%;
    left: 5.8%;
}
@media screen and (max-width: 1024px) {
    .portfolioSidebar-sticky{
        min-width: 160px;
        top: 0%;
        left: 4%;
    }
}

@media screen and (max-width: 767px) {
    .portfolioSidebar-sticky{
        min-width: auto;
        right: 0;
        top: 60vh;
    }
}


.portfolioSidebar-container{
    margin-right: 48px;
    margin-top: 48px;
    transition: 0.5s all;
}

@media screen and (max-width: 767px) {
    .portfolioSidebar-container{
        opacity: 0;
        z-index: 100;
        margin-right: 4%;
        margin-top: 0px;
        margin-left: 80%;
    }
}

.portfolioSidebar-progress{
    position: absolute;
    width: 5px;
    height: 10px;
    background: rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

@media screen and (max-width: 767px) {
    .portfolioSidebar-progress{
        width: 36px;
        background: rgba(256, 256, 256, 0.5);
        z-index: -1;
    }
}

.portfolioSidebar-h3list{
    
}

@media screen and (max-width: 767px) {
    .portfolioSidebar-h3list{
        box-shadow: 0px 10px 23px -6px rgba(0,0,0,.15);
    }
}

.portfolioSidebar-Item{
    font-size: .88rem;
    letter-spacing: 0.08rem;
    font-weight: 300;
    text-decoration: none;
    text-align: right;
    color: rgb(89, 89, 89);    
    padding: 16px 32px 16px 0;
    border-right: rgba(0, 0, 0, 0.05) 5px solid;
    transition: all 0.5s;
}

.portfolioSidebar-Item:hover{
    cursor: pointer;
    text-decoration: none;
    color: rgb(89, 89, 89);    
    background: rgba(256,256,256,.15);
    transition: all 0.5s;
}

.portfolioSidebar-Item:visited, 
.portfolioSidebar-Item:focus{
    text-decoration: none;
    
}

@media screen and (max-width: 1024px) {
    .portfolioSidebar-Item{
        font-size: 0.6rem;
        padding: 12px 12px 12px 0;
    }

}
@media screen and (max-width: 767px) {
    .portfolioSidebar-Item{
        width: 36px;
        font-size: .5rem;
        font-weight: 900;
        text-align: center;
        color: #555555!important;
        padding: 12px;
        border-right: none;
        border-bottom: 1.5px solid rgba(256, 256, 256, 0.8);
        background: rgba(256, 256, 256, 0.25);
    }
}

.portfolioSection {
    color: #555555;
    font-family: 'Noto Sans TC', sans-serif;
}

.portfolioSection h3{
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
    color: rgba(0,0,0, 0.6);
    background: rgba(256, 256, 256, 0.2);
    display: flex;
    align-items: center;
    padding: 12px;
}

.portfolioSection p{
    text-align: left;
    line-height: 1.9;
    padding-left: 8px;
}

.portfolioSection p span.strenthen{
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    border-bottom: 1.5px dashed rgba(0, 0, 0, 0.4);
    padding-bottom: 0.5px;
    margin: 0 0 5px 0;
}

.portfolioSection a{
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #bbbbbb;
}

.portfolioSection a:hover{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #555555;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: #798DA9!important; 
    transition: all 1s; 
}

.navbar-brand:hover {

    text-shadow: .5px .5px #576982;
    transition: all 1s; 
}

.collapse{
    display: block;
}

.collapse > ul.navbar-nav{
    flex-direction: row;
}

.navbar {
    text-transform: uppercase;
}

.nav-item {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 10px;
}
@media screen and (max-width: 575.98px) {
    .nav-item {
        font-size: 0.7rem;
        font-weight: bolder;
        letter-spacing: 1.2px;
        padding: 16px 8px;
    }
}

.nav-item a.nav-link{
    /* color: #496F85; */
    color: #40657B;
}

.hidden-md-up{
    display: none;
}



.navbar-toggler {
    border: 0;
    display: none!important; /* 不顯示漢堡選單 */
}

.navbar-toggler-right {
    right: 0rem;
}

.portfolio-img {
    width: 100%;
    max-height: 250px;
    display: block;
    object-fit: cover;
}

.project-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* ------workCard------ */

.workCard {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    padding-bottom: 16px;
    background: #fff;
    box-shadow: 0 20px 24px -10px rgba(0, 0, 0, 0.18);
    border-radius: .4rem;
    transition: all .35s;
}

.workCard:hover {
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all .35s;    
}

.workCard .overlay {
    width: 100%;
    height: 80%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    transition: all .4s;
}

.workCard .product-title {
    top: 20px;
    left: 16px;
    font-weight: 500;
    text-decoration: none !important;
    font-size: 16px;
    color: #292b2c;
    /* color: #284247; */
    letter-spacing: 1px;
    line-height: 24px;
    text-align: left;
    font-family: 'Noto Sans TC'!important;
    position: relative;
}

.workCard:hover .product-title {
    text-decoration: none !important;
}

.workCard:hover .overlay {
    opacity: 0;
}

.workCard img {
    display: block;
    position: relative;
    max-width: none;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border-radius: .4rem; */
}

/* ------portfolio title------ */
@media screen and (max-width: 575.98px) {
    .titleSection h1{
        font-size: 1.65rem;
        font-family: inherit!important;
        font-weight: bolder;
        letter-spacing: 1.8px;
        margin-left: 8px;
    }
}

/* ------tags------ */

.tags-container {
    margin-top: 20px;
}

.titleSection .tags-container{
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.tags-container .tag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #CFD9DF;
    letter-spacing: 0.8px;
    line-height: 16px;
    padding: 4px 16px;
    float: left;
    margin-left: 0;
    
}

.tags-filter{
    margin: 40px;
    width: 100%;
}
.tags-filter .tag {
    background: #CFD9DF;
    border-radius: 100px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.8px;
    line-height: 16px;
    padding: 4px 16px;
    float: left;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}

.tags-filter .tag:hover {
    background: #B6C7D1;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tags-filter .active {
    background: #B6C7D1;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.page-nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.page-nav a,
span {
    font-size: 1.3rem;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 300;
    margin: 0 10px;
    color: #000;
}

/* ------demoImg------ */

.demoImg{
    border: rgba(255, 255, 255, 0.4) 5px solid;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 3px 9px rgba(0,0,0,.05);
    max-height: 280px;
    transition: all 0.5s;
    margin-left: 8px;
}

.demoImg:hover{
    border: rgba(255, 255, 255, 0.2) 5px solid;
    box-shadow: 0px 0px 3px rgba(0,0,0,.05);
    transition: all 0.5s;
}

@media screen and (max-width: 575.98px) {
    .demoImg{
        max-width: 84vw;
        margin-left: 0;
    }
}

.noShowImg{
    border: rgba(255, 255, 255, 0.4) 5px solid;
    border-radius: 4px;
}

.demoImgWeb{
    max-height: 160px;
}

.demoImgBigger{
    max-height: 440px;
}

/* ------window------ */

.window{
    position: fixed;
    height: 80%;
    left: 50%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
}

@media screen and (max-width: 575.98px) {
    .window{
        height: 100%;
        width: 100%;
        left: 50%;
        top: 50%;
        background: rgba(0,0,0,.2);
        z-index: 1000;
        display: flex;
        align-items: center;
    }
}

.window img{
    height: 100%;
    border: rgba(255, 255, 255, 0.6) 8px solid;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);
}

@media screen and (max-width: 575.98px) {
    .window img{
        width: 100%;
        height: auto;

    }
}

.window-show{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}

/* -----close-tag----- */
.close-tag {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;    
    background: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.1) 2px solid;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 100;
}
.close-tag:before,
.close-tag:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.close-tag:before {
    left: 45%;
    top: 10%;
    width: 10%;
    height: 80%;
}
.close-tag:after {
    top: 45%;
    left: 10%;
    width: 80%;
    height: 10%;
}

/* -----expWindow----- */

.expWindow{
    background: rgba(256, 256, 256, .9);
    border: rgba(255, 255, 255, 0.6) 8px solid;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);    
    position: fixed;
    height: 90%;
    left: 50%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
}

.window-show{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}

#expGallery{
    width: 100%;
    overflow: hidden;  
    display: flex;
    align-items: center;
    height: 600px;
}

#expGallery img{
    display: block;
    max-width: none;
    width: 100%;
    height: 100%;
}

#expArticle{
    width: 100%;
    overflow: scroll;
}

#expArticle h5{
    text-align: left;
    padding: 2px 8px;
    margin-bottom: .2em;
    margin-top: 16px;
}

#expArticle p{
    padding: 2px 8px;
    text-align: left;
    margin-bottom: .2em;
}

#expArticle p span{
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 600;
    color: #404345;
    margin: 12px 0 4px 0;
    line-height: 2.6rem;
    border-left: 6px solid #5d6164;
    padding-left: 8px;

}

#expArticle p:last-of-type{
    padding: 8px;
    line-height: 1.8em;
}

#expArticle>p:last-of-type{
    color: #797979;
    /* line-height: .2em; */

}

#expArticle a{
    display: flex;
    justify-content: center;
    color: #797979;
    font-size: .4em;
    font-weight: 300;
    text-decoration: none;
    background: rgba(256,256,256, .9);
    padding: 10px 18px;
    margin: 4px 16px;
    border-radius: 100px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.1);    
    transition: all 1s;
    -webkit-transition: all 1s;    
}

#expArticle a:hover{
    background: rgba(256,256,256, .1);
    box-shadow: 0px 1px 7px rgba(0,0,0,.15);
    transition: all 1s;
    -webkit-transition: all 1s;    
}


.navigateSection a{
    color: #797979;
}

.navigateSection a:hover{
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    
}

.navigateSection a p span{
    font-size: 0.7em;
    margin: 0;
}

.thankSection p span{
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.thankSection a{
    text-decoration: none;
    color: #545454!important;
    font-size: 12px;
    font-weight: bold;
    background: rgba(256, 256, 256, .5) !important;
    border: 1px solid #CFD9DF !important;
    border-radius: 8px;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, .1) !important;
    padding: 12px 32px;
    max-width: 240px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.thankSection a:hover{
    text-decoration: none;
    color: #000000!important;
    background: rgba(256, 256, 256, .7) !important;
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, .05) !important;    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.thankSection a span{
    font-size: 0.6em;
}

.listHeader{
    border-left: rgba(256,256,256,.6) 3px solid;
    padding-left: 12px;
}

.listNumber{
    /* display: inline-block; */
    margin: 12px 10px 0px 0;
    height: 8px;
    width: 8px;
    background: rgba(256,256,256,.7);
}

/* ------about------ */

.sticky{
    position: fixed;
    top: 4%;
    left: 7%;
    width: 100%;
    padding-left: 30px;
}

.sideBarAvatar img{
    width: 100%;
    border: rgba(255, 255, 255, 0.4) 5px solid;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0,0,0,.05);
}

.sideBarAvatar h1{
    margin: 24px 0 12px 0;
}

.sideBarAvatar h3{
    margin: 8px 0;
}

@media screen and (max-width: 1024px) {
    .sideBarAvatar h1{
        font-size: 2.3rem;
    }
    .sideBarAvatar h3{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 974px) {
    .sideBarAvatar h1{
        font-size: 1.6rem;
        letter-spacing: 0;
    }
    .sideBarAvatar h3{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 768px) {
    .sideBar {
        padding-right: 0;
        padding-left: 5px;
    }
    .sideBarAvatar h1{
        font-size: 1.4rem;
    }
    .sideBarAvatar h3{
        font-size: .9rem;
    }
}
@media screen and (max-width: 575.98px) {
    .sideBar{
        position: fixed;
        top: 96px;
        left: 0%;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        background: #E0E9EE;
        z-index: 100;
    }
    .sticky{
        top: 0%;        
    }   
    .sideBarAvatar{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .sideBarAvatar h1{
        font-size: 1rem;
        margin: 4px 0 0 0;
    }
    .sideBarAvatar h3{
        margin: 2px 0;
        font-size: .7rem;
    }
    .sideBarAvatar img{
        border: rgba(255, 255, 255, 0.4) 2px solid;
        height: 56px;
        width: auto;
    }
    
}


.sideBarContact{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
@media screen and (max-width: 1024px) {
    .sideBarContact{
        padding-left: .6em;
        padding-right: .6em;
    }
}
@media screen and (max-width: 974px) {
    .sideBarContact{
        padding-left: .2em;
        padding-right: .2em;
    }
}
@media screen and (max-width: 768px) {
    .sideBarContact{
        padding-left: .1em;
        padding-right: .1em;
    }
}
@media screen and (max-width: 575.98px) {
    .sideBarContact{
        display: none;
    }
}

.sideBarContact > a {
    cursor: pointer;
    overflow: hidden;
    width: 30px;
    height: 30px;
    color: rgb(49, 49, 49)!important;
    font-size: .6em;
    padding: .6em;
    background: rgba(256,256,256,.4);
    border: rgba(256,256,256,.5) 1px solid;
    border-radius: 100%;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
    display: inline-flex;
    align-items: center;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.sideBarContact > a:hover {
    color: #5F7E8B!important;    
    background:#F2F6F8;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.popup{
    display: none;
    position: absolute;
    bottom: 5%;
    color: rgba(0, 0, 0, 0.4);
    font-size: .8em;
    padding: .6em;
    background: rgba(256,256,256,.9);
    border: rgba(256,256,256,.5) 1px solid;
    border-radius: 4px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
}


.sideBarContent{
    padding: 1rem .7rem 1rem 0;
}

.sideBarContent a{
    text-align: center;
    border-right: rgba(0, 0, 0, 0.01) 5px solid;
    background: rgba(256, 256, 256, 0);
    padding: .8rem .9rem .8rem 0rem;
    color: #595959;
    text-decoration: none;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.sideBarContent a:hover{
    background: rgba(256,256,256,.1);
    transition: all .5s;
    -webkit-transition: all .5s;
}

@media screen and (max-width: 768px) {
    .sideBarContent{
        padding: 1rem .2rem 1rem 0;
    }
    .sideBarContent a{
        padding: .8rem .2rem .8rem 0rem;
    }
}
@media screen and (max-width: 575.98px) {
    .sideBarContent{
        padding: .8rem;
        width: 80%;   
    }
    .sideBarContent a{
        width: 30%;
        border-bottom: rgba(0, 0, 0, 0.01) 5px solid;
        padding: .4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sideBarContent a:hover{
        background: rgba(256,256,256,.1);
        transition: all .5s;
        -webkit-transition: all .5s;
    }
}

.introCard{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 3rem 2.4rem;
    padding: 52px;
    background: rgba(256,256,256,.6);
    border: rgba(256,256,256,.6) 1.5px solid;
    border-radius: 4px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.introCard h1{
    text-align: left;
}

.introCard h1>div{
    display: inline-flex;
    font-size: .6em;
}

.introCard h1::after{
    /* content: '，'; */
}

.aboutSubtitle::before{
    content: '';
}

.aboutSubtitle > .underline-1{
    display: flex;
    height: 6px;
    width: 54%;
    margin: -12px 0 0 0;
    background: rgba(256,256,256,.95);
}

.aboutSubtitle > .underline-2{
    display: flex;
    height: 6px;
    width: 81%;
    margin: -12px 0 0 0;
    background: rgba(256,256,256,.95);
}

.aboutSubtitle{
    font-family: inherit!important;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    line-height: 2.8rem;
    letter-spacing: 0.08rem;
    color: #292B2C;
    text-shadow: 0px 2px 14px rgba(60, 60, 60, .2);
    margin: 0;    
}

.aboutContent{
    text-align: left;
    font-size: 1em;
    line-height: 2.1rem;
    margin: 2.2rem 0 0 0;
    opacity: .9;
}

/* ------timeline----- */

.timeline {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0 0 0 ;
    transition: all .4s;
    -webkit-transition: all .4s;
    
}

.timeline > li {
    /* cursor: pointer;   */
    overflow: hidden;
    margin: 0;
    display: flex;
    /* transition: all .4s; */
    /* -webkit-transition: all .4s; */

}

.timeline-date {
    font-size: .8em;
    width: 160px;
    float: left;
    margin: 1rem 2.4rem 0 0;
    text-align: right;
}

.timeline-content {
    width: 70%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding: 20px 8px 16px 32px;
    position: relative;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.timeline-content:hover {
    background-color:  rgba(0,0,0,.02);
    transition: all .6s;
    -webkit-transition: all .6s;
}


.timeline-content:before{
  content: '';
  width: 12px;
  height: 12px;
  background: #8AA1B1;
  position: absolute;
  left: -7px;
  top: 1.2rem;
  border-radius: 100%;
}

.now:before{
    background: #5F7E8B;
}

.timeline-content h5{
    font-size: 1em;
}

.timeline-content p{
    font-size: .8em;
}

.timeline-content h5,
.timeline-content p{
    text-align: left;
    margin-bottom: .8rem;
}

.btn_more{
    display: flex;
    justify-content: center;
    width: auto;
    color: #496F85;
    font-size: .4em;
    font-weight: 400;
    text-decoration: none;
    background: rgba(256,256,256, .7);
    /* background: #496F85; */
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.05);    
    transition: all 0.6s; 
}

.btn_more:hover{
    text-decoration: none;
    box-shadow: 0px 2px 6px rgba(0,0,0,.25);    
    transition: all 0.6s;
}

@media screen and (max-width: 768px) {
    .introCard{
        padding: 24px;
    }
    .timeline-date {
        width: 100px;
        font-size: .9rem;
        margin: 1rem 1.2rem 0 0;
    }
    .timeline-content {
        padding: 1rem 0 1rem 1.4rem;
    }
}

@media screen and (max-width: 575.98px) {
    #about{
        margin-top: 7rem;
    }
    .introCard{
        margin: 0 .6rem 3rem .6rem;
    }
}


/* ------skill------ */

#skill div{
    padding: .2 rem;
}

#skill span{
    position: relative;    
    opacity: .8;    
    font-family: inherit;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: .4rem .6rem;
    border: rgba(256,256,256,.7) 1px solid;
    border-radius: 3px;
    background: rgba(256,256,256,.6);
    box-shadow: 0px 1px 3px rgba(0,0,0,.05);    
}

#skill span p{
    margin: 0;
}

#skill span:hover{
    opacity: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,.08);
    transition: all .4s;
}

.skill-90:after,
.skill-70:after,
.skill-50:after,
.skill-30:after {
    content: '';
    position: absolute;
    left: 1.5px;
    bottom: 1.5px;
    height: 4px;
    border-radius: 2px;
    width: 0%; 
}

.skill-30:after{
    background: #E0EAEF;
}
.skill-50:after{
    background: #e5e5d1;
}
.skill-70:after{
    background: #8AA1B1;
}
.skill-90:after{
    background: #9AC2C9;
}

#skill span:hover .skill-30:after{
    width: 27%;  
    transition: all .6s;
}
#skill span:hover .skill-50:after{
    width: 43%;  
    transition: all .8s;
}
#skill span:hover .skill-70:after{
    width: 62%;
    transition: all .8s;
}
#skill span:hover .skill-90:after{
    width: 88%;
    transition: all .8s;
}

#outro a{
    color: #797979;
    font-weight: 300;
    text-decoration: none;
    background: rgba(256,256,256, .2);
    padding: 10px 18px;
    margin: 0 8px;
    border-radius: 100px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.02);    
    transition: all 1s;    
}

#outro a:hover{
    color: #000000;
    text-decoration: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,.1);    
    transition: all 1s;
}

#main{
    width: 100%;
    position: relative;
    overflow: hidden;

}

.mask-top{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0);
    position: absolute;
    top: -150px;
    left: 0;
    transition: all .8s;
    z-index: 10;
    
    
}

.mask-bottom{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0);
    position: absolute;
    top: 150px;
    left: 0;
    transition: all .8s;
    z-index: 10;
}



.mask-top:hover,
.mask-bottom:hover{
    top: 0px;
    background: rgb(0,0,0,.7);
    transform: translateX(0%) translateY(0%);
    transition: all .8s;
    z-index: 100;
}


#qq-intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5F7E8B;
}

#qq-intro svg{
    position: absolute;
    bottom: -40%;
    left: 40%;
    animation: slideUp 1.6s ease-in-out both;
    
}

@keyframes slideUp { 
    from{
        bottom: -40%;
    }
    to { 
        bottom: -10%; 
    }
}

#myWink{
    display: block;
    position: absolute;
    margin-top: 80px;
    animation: wink 2s ease-in-out;
    animation-delay: 4s;
}

@keyframes wink { 
    0%{
        top: 0%;
    }
    50%{
        top: 90%;
    }
    100%{ 
        top: 0%;        
    }
}

/* #qq-intro #hair{
    display: none;
    position: absolute;
    top: -200%;
    
    animation: slideDown 4s ease-in-out both;
} */

/* ellipse { 
    stroke-dasharray: 3; 
    stroke-dashoffset: 2; 
}
ellipse,path,circle { 
    stroke-dasharray: 1000; 
    stroke-dashoffset: 1000; 
    animation: dash 2s linear both ; 
}  */